# == Local Development ==
DATABASE_URL="postgresql://kotosh:kotosh_dev_2025@localhost:5432/kotosh"
ML_SERVICE_URL="http://localhost:8000"
UPLOAD_DIR="./uploads"
MAX_FILE_SIZE=524288000
PORT=3000
NODE_ENV=development

# == Production (VPS) — copiar a .env en el servidor ==
# DATABASE_URL=postgresql://admin:PASSWORD@postgres_db:5432/kotosh_db
# ML_SERVICE_URL=http://kotosh_ml:8000
# UPLOAD_DIR=/app/uploads
# MAX_FILE_SIZE=524288000
# PORT=3000
# NODE_ENV=production
